name: Build on ubuntu

on:
  push:
    branches:
      - '*'
      - '!master'
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Version
        run: ./gradlew cV

      - name: Generate source code
        run: ./gradlew generate

      - name: Build library
        run: ./gradlew build -xtest
